table {
  border: 1px solid #999;
  border-collapse: collapse;
}
th,
td {
  height: 85px;
  width: 85px;
  border: 1px solid #999;
}
.occupied {
  background-color: green;
  color: green;
}
.one-one .occupied,
.occupied .one-two,
.occupied .two-one,
.occupied .two-two {
  background-color: green !important;
  color: green !important;
}
.tiny th,
.tiny td {
  font-size: 2pt;
  height: 20px;
  width: 20px;
}
.tiny h2 {
  display: none;
}
.tiny .table-set {
  display: inline-block;
  margin: 5px;
}
.tiny .qi {
  display: none;
}
