table {
  border: 1px solid #999;
  border-collapse: collapse;
}
th,
td {
  height: 85px;
  width: 85px;
  border: 1px solid #999;
}
@media screen and (max-width: 786px) {
  th,
  td {
    height: 50px;
    width: 50px;
  }
}

.occupied {
  background-color: orange;
  color: orange;
}
.occupied.one-one,
.occupied.one-two,
.occupied.two-one,
.occupied.two-two {
  background-color: green !important;
  color: green !important;
}
.occupied.four-four,
.occupied.four-five,
.occupied.five-four,
.occupied.five-five {
  background-color: red;
  color: red;
}
.tiny th,
.tiny td {
  font-size: 2pt;
  height: 20px;
  width: 20px;
}
.tiny h2 {
  display: none;
}
.tiny .table-set {
  display: inline-block;
  margin: 5px;
}
.tiny .questions-ideas {
  display: none;
}
